.hero {
    display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers */
  justify-content: center;
  text-align: center;
  height: 100vh;
  }
  
  .hero h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .highlight {
    color: #00d1ff;
  }
  
  .hero h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    opacity: 0.8;
  }
  
  .hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .btn-primary, .btn-secondary {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .btn-primary {
    background: #00d1ff;
    color: black;
    font-weight: bold;
  }
  
  .btn-secondary {
    border: 2px solid #00d1ff;
    color: #00d1ff;
  }
  